{% extends 'layout.html.twig' %}

{% block pageTitle %}<h1>Accueil {{ controller_name }}! ✅</h1>{% endblock %}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../public/img/snowboard-header.jpg" class="d-block w-100" alt="...">
  </div>
</div>

<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/Symfony/P6-SnowTricks/src/Controller/PagesController.php'|file_link(0) }}">src/Controller/PagesController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/Symfony/P6-SnowTricks/templates/pages/index.html.twig'|file_link(0) }}">templates/pages/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}

{% block pageFooter %}{% endblock %}
