{% extends 'pages/indexLayout.html.twig' %}

{% block pageTitle %}<h1>Accueil ✅</h1>{% endblock %}

{% block hero %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../public/img/snowboard-header.jpg" class="d-block w-100" alt="...">
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Découvrez nos {#{ pluralize(tricks|length, 'trick', 'tricks') }#} tricks !</h2>
    {% for trick in tricks %}
        <article>
            <h2><a href="{{path('app_trickView', {id: trick.id})}}">{{trick.name}}</a></h2>
            <p>
                {{trick.description}}
            </p>
        </article>
    {% endfor %}
</div>
{% endblock %}
